:root {
  --button-icon-color: #e4e4e4;
}

.c-point-focus {
  width: 100%;
  height: 100%;
  margin: 0;
  position: relative;
  overflow: hidden;
  display: inline-block;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: zoom-in;

  &[data-movetype='follow'] .c-point-focus__zoom-img {
    cursor: crosshair;
  }
  &[data-movetype='drag'] .c-point-focus__zoom-img {
    cursor: grab;
  }

  &__img {
    width: 100%;
    height: 100%;
    aspect-ratio: 4/3;
    object-fit: contain;
    display: block;
    -webkit-user-drag: none;
    user-select: none;
    pointer-events: none;
    visibility: visible;
    opacity: 1;
    transition: opacity 0ms linear var(--fade-duration), visibility 0ms linear var(--fade-duration);

    &[data-hidden='true'] {
      visibility: hidden;
      opacity: 0;
    }
  }

  &__zoom-img {
    position: absolute;
    top: 0;
    left: 0;
    will-change: transform;
    width: auto !important;
    max-width: none !important;
    visibility: hidden;
    opacity: 0;
    user-select: none;
    -webkit-user-drag: none;
    pointer-events: none;
    -webkit-touch-callout: none;
    display: block;
    transform: translate(0px, 0px);

    &[data-visible='true'] {
      visibility: visible;
      opacity: 1;
      pointer-events: auto;
      cursor: zoom-out;
      touch-action: none;
    }
  }

  &__button {
    position: absolute;
    top: 2%;
    right: 2%;
    padding: 0.3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    outline: none;
    appearance: none;
    text-decoration: none;
    background: transparent;
    cursor: pointer;
    visibility: hidden;
    opacity: 0;
    transform-origin: center center;

    &[data-visible='true'] {
      visibility: visible;
      opacity: 1;
    }

    svg {
      height: 1rem;
      width: 1rem;
      transition: transform 0.2s ease-in-out;
      transform-origin: center;
      filter: drop-shadow(0px 0px 10px rgba(0, 0, 0, 0.7));

      path {
        fill: var(--button-icon-color);
      }
    }

    &:hover svg {
      transform: scale(1.2);
    }

    &:active svg {
      transform: scale(1);
    }
  }
}
