:root {
  --button-icon-color: #1e1c1c;
  --loader-background: #19181891;
  --loader-color: #fff;
}

.c-point-focus {
  width: 100%;
  height: 100%;
  margin: 0;
  position: relative;
  overflow: hidden;
  display: inline-block;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: zoom-in;

  &[data-movetype='follow'] .c-point-focus__zoom-img {
    cursor: crosshair;
  }
  &[data-movetype='drag'] .c-point-focus__zoom-img {
    cursor: grab;
  }

  &__overlay {
    position: absolute;
    inset: 0;
    z-index: 1;
    pointer-events: none;
  }

  &__placeholder {
    position: absolute;
    inset: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 2;
    background: var(--loader-background);
  }

  &__img {
    width: 100%;
    height: 100%;
    aspect-ratio: 4/3;
    object-fit: contain;
    display: block;
    -webkit-user-drag: none;
    user-select: none;
    pointer-events: none;
    visibility: visible;
    opacity: 1;
    transition: opacity 0ms linear var(--fade-duration), visibility 0ms linear var(--fade-duration);

    &[data-hidden='true'] {
      visibility: hidden;
      opacity: 0;
    }
  }

  &__zoom-img {
    position: absolute;
    top: 0;
    left: 0;
    will-change: transform;
    width: auto !important;
    max-width: none !important;
    visibility: hidden;
    opacity: 0;
    user-select: none;
    -webkit-user-drag: none;
    pointer-events: none;
    -webkit-touch-callout: none;
    display: block;
    transform: translate(0px, 0px);

    &[data-visible='true'] {
      visibility: visible;
      opacity: 1;
      pointer-events: auto;
      cursor: zoom-out;
      touch-action: none;
    }
  }

  &__button {
    position: absolute;
    top: 2%;
    right: 2%;
    padding: 0.3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    outline: none;
    appearance: none;
    text-decoration: none;
    background: transparent;
    cursor: pointer;
    visibility: hidden;
    opacity: 0;
    transform-origin: center center;

    &[data-visible='true'] {
      visibility: visible;
      opacity: 1;
    }

    svg {
      height: 1rem;
      width: 1rem;
      transition: transform 0.2s ease-in-out;
      transform-origin: center;
      filter: drop-shadow(0px 0px 10px rgba(0, 0, 0, 0.7));

      path {
        fill: var(--button-icon-color);
      }
    }

    &:hover svg {
      transform: scale(1.2);
    }

    &:active {
      border: none;
      outline: none;
      appearance: none;
      background: transparent;
      svg {
        transform: scale(1);
      }
    }
  }

  &__loader {
    width: 48px;
    height: 48px;
    display: inline-block;
    position: relative;

    &::after,
    &::before {
      content: '';
      box-sizing: border-box;
      width: 48px;
      height: 48px;
      border-radius: 50%;
      border: 2px solid var(--loader-color);
      position: absolute;
      left: 0;
      top: 0;
      animation: animloader 2s linear infinite;
    }
    &::after {
      animation-delay: 1s;
    }
  }

  @keyframes animloader {
    0% {
      transform: scale(0);
      opacity: 1;
    }
    100% {
      transform: scale(2);
      opacity: 0;
    }
  }

  .c-fp-fallback-image {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center center;
    z-index: 2;
  }
}
